
.dbddc626-e5e0-4928-a066-f3f012437eeb{
	height: 100%;
    position: relative;
}
.a686596e-5a40-4dcb-b3a1-4123e6e00acf{
	position: fixed;
	right: 20px;
	bottom: 0px;
	background: #95a5a6;
	width: 300px;
	border-radius: 5px 5px 0px 0px;
}
.a910c343-4a0a-46ce-9628-e53c1820e829{
	width: inherit;
	height: 45px;
	background: #2c3e50;
	border-radius: 5px 5px 0px 0px;
}
.a910c343-4a0a-46ce-9628-e53c1820e829 h2{
	color: white;
	padding: 0px;
	display: inline-block;
}
.a910c343-4a0a-46ce-9628-e53c1820e829 img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
.cc160e94-a9cc-4a5b-bd62-3420923054ac{
	height: 355px;
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.d86c1aa1-5c5d-42c2-881f-7cb8d6b4b55c{
	position: fixed;
	bottom: 0px;
	height: 45px;
	width: inherit;
}
.d86c1aa1-5c5d-42c2-881f-7cb8d6b4b55c textarea{
	width: inherit;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	padding: 10px;
	resize: none;
}
.d86c1aa1-5c5d-42c2-881f-7cb8d6b4b55c textarea:active, .d86c1aa1-5c5d-42c2-881f-7cb8d6b4b55c textarea:focus, .d86c1aa1-5c5d-42c2-881f-7cb8d6b4b55c textarea:hover{
	border-color: royalblue;
}
.msg-send{
	background: #2ecc71;
}
.msg-receive{
	background: #3498db;
}
.msg-send, .msg-receive{
	width: 200px;
	height: 35px;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: white;
}
.msg-receive:before{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -29px;
	top: 7px;
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent transparent #2ecc71;
	right: -29px;
	top: 7px;
}
.msg-receive:hover, .msg-send:hover{
	opacity: .9;
}

